html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    background-size: cover;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

em {
    font-weight: bold;
    font-style: normal;
}

#page_change {
    margin: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(38, 70, 11, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#page_change:hover {
    background-color: rgba(69, 128, 21, 0.6);
}

.main {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.info {
    margin-left: 30px;
    width: 400px;
    text-align: justify;
}

#pp {
    height: 200px;
    width: auto;

    border-radius: 10px;
}
