.main {
    flex-direction: column;
    width: 550px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.cards {
    display: flex;
}

.card {
    margin: 5px;
    border: 2px solid greenyellow;
    background-color: rgba(0, 0, 255, 0.4);
    transition: background-color 0.3s ease, border 0.3s ease;
}

.card img {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.card.visible {
    border: none;
    background-color: transparent;
}

.card.visible img {
    visibility: visible;
    opacity: 1;
}

.live img {
    width: 13px;
    height: auto;
}

.buttons_and_score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.button-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(24, 11, 70, 0.6);
    margin-top: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: rgba(44, 21, 128, 0.6);
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid aliceblue;
    border-radius: 6px;
    outline: none;
    text-align: center;
}

.score {
    position: absolute;
    right: 0;
    text-align: right;
}

.hidden {
    display: none;
}